<!-- templates/navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
    <div class="container">
      <a class="navbar-brand" href="/">Moodify 🎵</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="/dashboard/">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile/">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-danger" href="/logout/">Logout</a>
            </li>
          {% else %}
            <li class="nav-item">
              <a class="nav-link" href="/register/">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login/">Login</a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="/about/">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  