<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodify</title>
    <!-- <link rel="stylesheet" href="% static 'css/style.css' %}">  I deleted {-->
</head>

{% extends  'main.html' %}

{% block content %}


    

<body>
    

    <main>
        <section>
            <h2>What's your mood today?</h2>
            <form method="post">
                {% csrf_token %}
                <input type="text" name="mood" placeholder="Type your mood..." required>
                <button type="submit">Suggest Music</button>
            </form>
        </section>

        {% if recommendation %}
        <section>
            <h3>🎧 Recommended for you:</h3>
            <p>{{ recommendation }}</p>
        </section>
        {% endif %}
    </main>

    
</body>
</html>


{% endblock content %}